%h2
	= t('breadcrumbs.quotes')

-@quotes.each do |quote|
	-@quotes_count_category = Section.find(quote.section.id)
	-@q_count_cat = @quotes_count_category.quotes.count
	= render 'quotes', quote: quote
= paginate @quotes